@use '../abstracts' as *;

.loading__sec{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: $black;
    .logo{
        width: 30px;
        img{
            width: 100%;
        }
    }
    ul{
        height: 20px;
        overflow: hidden;
        li{
            font-weight: 700;
            font-size: 16px;
        }
    }
}

