@use '../abstracts' as *;

.project__page {
	width: 80%;
	margin: auto;
	.single__project {
		position: relative;
		.item {
			padding: 3rem;
			border: 0.2rem solid #292a2e;
			margin-bottom: 5rem;
			border-radius: 100px;
			.img__con {
				border-radius: 46px;
			}
		}
		.number {
			position: absolute;
			top: -15%;
			right: -2%;
			-webkit-mask-image: linear-gradient(rgba(35, 37, 49, .5), rgba(15, 15, 24, .5), transparent, transparent);
			mask-image: linear-gradient(rgba(35, 37, 49, .5), rgba(15, 15, 24, .5), transparent, transparent);
			opacity: 0.7;
			h2 {
				background-color: transparent;
				text-shadow: -0.5px 0 rgba(255, 255, 255, 0), 0 0.5px rgba(209, 209, 209, 0.248),
					0.5px 0 rgba(209, 209, 209, 0.248), 0 -0.5px rgba(209, 209, 209, 0.413);
				color: $black;
				font-size: 9rem;
				// opacity: 0.3;
			}
		}
	}
}
