@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900;1000&display=swap');

$font: 'Nunito Sans', sans-serif;

$black: #1B1919;
$white: #fff;
$gray: #A0A0A0;
$dimgray: #a0a0a027;